image: archlinux/base:latest

before_script:
    - pacman --noconfirm -Syu
    - pacman --noconfirm -S rust opencv gcc gtk3 qt5-base
    - ln -s /usr/include/opencv4/opencv2 /usr/include/opencv2

stages:
    - build

cargo_build:
    stage: build
    script:
    - export CC=gcc
    - export CXX=g++
    - cargo build --release
    artifacts:
        paths:
        - target/release/pearls
